        p{
            background-color: burlywood;
        }
        #p1{
            color: rgb(18, 78, 78);
            font-size: 24px;
            background-color: lightcoral;
        }
        #p2{
            color: rgb(231, 26, 3);
            font-size: 36px;
            background-color: rgb(37, 246, 5);
        }
        #p3{
            color: rgb(255, 255, 255);
            font-size: 48px;
            background-color: rgb(237, 17, 17);
        }
        *{
            background-color: violet;
        }